
@font-face{
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue-CondensedBlack.woff2") format("woff2"),url("../fonts/HelveticaNeue-CondensedBlack.woff") format("woff");
    font-weight: 900;
}
@font-face{
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue-CondensedBold.woff2") format("woff2"), url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff");
    font-weight: 700;
}
@font-face{
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"),url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
    font-weight: 400;
}
@font-face{
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
    font-weight: 300;
}